body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
// body{font:14px "宋体","Arial Narrow",HELVETICA/*兼容蘋果沒有微軟雅黑*/;background:#fff;}
body{font-size:14px;font-family: "PingFangSC-Regular", "Hiragino Sans GB", Arial, Helvetica, "\5B8B\4F53", sans-serif;}
a{text-decoration:none;}
em{font-style:normal;}
li{list-style:none;}
img{border:0;vertical-align:middle;}
p{word-wrap:break-word}/*給英文強制換行*/
h1,h2,h3,h4,h5,h6{line-height: none;}
.noborder{border:0;}
.left{floaT:left;}
.right{float:right;}
.clearBoth{clear:both;}
// div{box-sizing: border-box;}
html,body{width: 100%;height: 100%;}
html{font-size: 26.67vw;}
